@import "toastr";

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../public/images/background-image.jpg");
  background-size: cover;
  background-position: center;
}

#modal .stock-container {
  display: flex;
  justify-content: center;
  padding: 30px;
  position: relative;
}
