.card {
  .image {
    margin: 10px;
    min-height: 80px;
  }
  .description {
    a {
      margin-left: 3px;
    }
  }
  .ui.icon {
    position: absolute;
    right: 0;
  }
  .prop-text {
    font-weight: bold;
  }
}
