.card {
  font-size: 1em;

  .ui.fluid.card {
    .content {
      background: #e9edea;
      .description {
        a {
          margin-left: 3px;
        }
      }
    }
  }
  .image {
    margin: 10px;
    min-height: 80px;
  }
  .ui.icon {
    position: absolute;
    right: 0;
  }
  .prop-text {
    font-weight: bold;
  }
}
