.visible.active {
  .header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(71, 73, 89);
    color: rgb(250, 250, 250);
    button {
      padding: 10px;
      #close-icon {
        margin: 0;
      }
    }
  }
}

.ui.icon.input {
  width: 220px;
}
